{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/layout-list.svg' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
    <title>Домашнее задание 1</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'index' %}">AskPumpkin</a>
        </div>
        <div class="search">
            <input type="text" name="search" placeholder="search">
            <button class="search-button">ASK!</button>
        </div>
        <div class="profile">
            <div class="avatar"></div>
            <div class="profile-info">
                <p>FIO</p>
                <div class="profile-actions">
                    <a href="#">settings</a>
                    <a href="#">logout</a>
                </div>
            </div>
        </div>
    </header>
    <main>
    <div class="main-container">
            <h2>
                Questions
                <span>
                    <a href="/?sort=date" {% if sort == 'date' %}class="active"{% endif %}>New</a> |
                    <a href="/?sort=rating" {% if sort == 'rating' %}class="active"{% endif %}>Hot</a>
                </span>
            </h2>

            <div class="questions-list">
                {% for question in new_questions %}
                    <div class="question">
                        <a href="{% url 'question_detail' question.id %}" class="question-title">
                            {{ question.title }}
                        </a>
                        <p class="question-content">{{ question.detailed }}</p>
                        <p>Теги:
                            {% for tag in question.tags.all %}
                                <a href="/?tag={{ tag.title }}" class="tag">{{ tag.title }}</a>{% if not forloop.last %}, {% endif %}
                            {% empty %}
                                Нет тегов
                            {% endfor %}
                        </p>

                        <p>
                            <a href="{% url 'question_detail' question.id %}">
                                Ответов: {{ question.answer_set.count }}
                            </a>
                        </p>

                        <p>Рейтинг: {{ question.rating }}</p>

                        {% if user.is_authenticated %}
                            <form method="post" action="{% url 'index' %}">
                                {% csrf_token %}
                                <input type="hidden" name="question_id" value="{{ question.id }}">
                                <button type="submit" name="vote" value="up">+</button>
                                <button type="submit" name="vote" value="down">-</button>
                            </form>
                        {% else %}
                            <p>Авторизуйтесь, чтобы голосовать</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="pagination">
                {% for page in pages %}
                    <a href="/?page={{ page }}">{{ page }}</a>
                {% endfor %}
            </div>
    </div>

    <aside>
        <div class="tags-container">
            <h3>Popular Tags</h3>
            <div class="tags">
                {% for tag in tags %}
                    <a href="/?tag={{ tag.title }}" class="tag">{{ tag.title }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="best-users">
            <h3>Best Users</h3>
            <ul>
                {% for user in best_users %}
                    <li>{{ user.username }}</li>
                {% endfor %}
            </ul>
        </div>
    </aside>
</main>

</body>
</html>