{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/layout-list.svg' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
    <title>{{ question.title }}</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'index' %}">AskPumpkin</a>
        </div>
        <div class="search">
            <input type="text" name="search" placeholder="search">
            <button class="search-button">ASK!</button>
        </div>
        <div class="profile">
            {% if user.is_authenticated %}
                <div class="avatar">
                    {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" alt="{{ user.username }}">
                    {% else %}
                        <img src="{% static 'images/avatar-default.svg' %}" alt="{{ user.username }}">
                    {% endif %}
                </div>
                <div class="profile-info">
                    <p>{{ user.username }}</p>
                    <div class="profile-actions">
                        <a href="{% url 'user_settings' %}">settings</a>
                        <a href="{% url 'logout_view' %}">logout</a>
                    </div>
                </div>
            {% else %}
                <div class="profile-info">
                    <p>Вы не авторизованы</p>
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'signup' %}">Signup</a>
                </div>
            {% endif %}
        </div>
    </header>
    <main>
    <div class="main-container">
        <h2>{{ question.title }}</h2>
        <p>{{ question.detailed }}</p>
        <p><strong>Автор:</strong> {{ question.author.username }}</p>
        <p><strong>Теги:</strong>
            {% for tag in question.tags.all %}
                <a href="{% url 'tag_page' tag.title %}" class="tag">{{ tag.title }}</a>
            {% empty %}
                Нет тегов
            {% endfor %}
        </p>
        <p>Рейтинг: {{ question.rating }}</p>
        {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="vote_question" value="up">+</button>
                <button type="submit" name="vote_question" value="down">-</button>
            </form>

        {% else %}
            <p>Авторизуйтесь, чтобы голосовать</p>
        {% endif %}

        <h3>Ответы</h3>
        <div class="answers-list">
            {% for answer in answers_page %}
                <div class="answer {% if answer.is_correct %}correct-answer{% endif %}">
                    <p>{{ answer.answer_text }}</p>
                    <small>Автор: {{ answer.author.username }} | {{ answer.created_at|date:"d.m.Y H:i" }}</small>
                    <p>Рейтинг: {{ answer.rating|default:"0" }}</p>

                    {% if user.is_authenticated %}
                        <form method="post" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="vote_answer" value="{{ answer.id }}">
                            <button type="submit" name="vote_value" value="up">+</button>
                            <button type="submit" name="vote_value" value="down">-</button>
                        </form>
                    {% else %}
                        <p>Авторизуйтесь, чтобы голосовать</p>
                    {% endif %}
                    {% if answer.is_correct %}
                        <span class="badge">Правильный ответ</span>
                    {% endif %}

                    {% if user.is_authenticated and user == question.author and not answer.is_correct %}
                        <form method="post">
                          {% csrf_token %}
                          <input type="hidden" name="mark_correct" value="{{ answer.id }}">
                          <button type="submit" class="mark-correct-btn">Отметить как правильный</button>
                        </form>
                      {% endif %}
                </div>
            {% empty %}
                <p>Пока нет ответов.</p>
            {% endfor %}
        </div>

        {% if new_questions.paginator.num_pages > 1 %}
        <div class="pagination">
            {% for page_num in pages %}
                {% if page_num == new_questions.number %}
                    <span class="current">{{ page_num }}</span>
                {% else %}
                    <a href="?page={{ page_num }}">{{ page_num }}</a>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}


        {% if user.is_authenticated %}
        <h3>Добавить ответ</h3>
        <form method="post">
            {% csrf_token %}
            <textarea name="answer_text" placeholder="Ваш ответ..." required></textarea>
            <button type="submit">Отправить</button>
        </form>
        {% else %}
        <p>Авторизуйтесь, чтобы добавить ответ</p>
        {% endif %}

        <a href="{% url 'index' %}">← Назад к списку</a>
    </div>

        <aside>
            <div class="tags-container">
                <h3>Популярные теги</h3>
                <div class="tags">
                    {% for tag in tags %}
                        <a href="{% url 'tag_page' tag.title %}" class="tag">{{ tag.title }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="best-users">
                <h3>Лучшие пользователи</h3>
                <ul>
                    {% for user in best_users %}
                        <li>{{ user.username }}</li>
                    {% endfor %}
                </ul>
            </div>
        </aside>
    </main>
</body>
</html>
